// variables.scss
:root {
  --primary-color: #191919;
  --primary: #565de9;
  --white: #ffffff;
  --sidebar-primary-hover: #ebeffd;
  --sidebar-background: transparent;
  --background: #dee0e5;
  --text: #646fa7;
  --text-link: #565de9;
  --expand-button: transparent;
  --logout: #fa7575;
  --search-background: #ebeffd;
}