<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Credentials for Store Manager</title>
    </head>
    <body>
        <p>Welcome to Food4Less!</p>

        <p>Your Store Manager account has been created for <strong><%= @store.name %></strong>.</p>

        <p><strong>Email:</strong> <%= @store_manager.email %></p>
        <p><strong>Password:</strong> <%= @password %></p>

        <p>Please request that the Store Manager change the password on the first login for better security.</p>

        <p>Best regards,</p>
        <p>Food4Less Team</p>
    </body>
</html>
