<h1>Welcome to Food4Less!</h1>

<p>Your Store Manager account has been created for <strong><%= @store.name %></strong>.</p>

<p><strong>Email:</strong> <%= @store_manager.email %></p>
<p><strong>Password:</strong> <%= @password %></p>

<p>You can log in here: <%= link_to "Login", new_store_manager_session_url %></p>

<p>Please change your password after logging in.</p>