/* Variables for Progressive Web App (PWA) */
:root {
  --red-primary: #f14c4c;
  --green-primary: #339a72;
  --green-light: #67d695;
  --gray-green: #a8b3b3;
  --yellow-soft: #fffb9b;

  --burnt-red-1: #d97762;
  --burnt-red-2: #ca6a56;
  --burnt-red-3: #bb5d4a;
  --burnt-red-4: #ab4f3d;
  --burnt-red-5: #9c4231;

  --vibrant-orange-1: #ea4025;
  --vibrant-orange-2: #ef5f3f;
  --vibrant-orange-3: #f47d59;
  --vibrant-orange-4: #fa9c74;
  --vibrant-orange-5: #ffba8e;

  --pwa-icon-192: "/assets/images/icons/icon-192x192.png";
  --pwa-icon-512: "/assets/images/icons/icon-512x512.png";
}

@media (max-width: 768px) {
  :root {
    --red-primary: #e04545;
    --green-primary: #2e8a65;
    --green-light: #5fc884;
    --gray-green: #98a3a3;
    --yellow-soft: #fff78b;

    --burnt-red-1: #c86b5a;
    --burnt-red-2: #b95e4e;
    --burnt-red-3: #aa5142;
    --burnt-red-4: #9a4335;
    --burnt-red-5: #8b3629;

    --vibrant-orange-1: #d93a21;
    --vibrant-orange-2: #e45538;
    --vibrant-orange-3: #ee7050;
    --vibrant-orange-4: #f88b68;
    --vibrant-orange-5: #ff9f7e;
  }
}