<footer class="footer">
  <p class="mb-0">
    &copy; <%= Time.current.year %> Food For Less. All Rights Reserved.
  </p>
  <p>
    <a href="#" class="text-warning mx-2">Privacy Policy</a> |
    <a href="#" class="text-warning mx-2">Terms of Service</a> |
    <a href="#" class="text-warning mx-2">Contact Us</a>
  </p>
</footer>