# <section class="container my-5">
#   <div class="text-center mb-4">
#     <h2 class="fw-bold">Discover, Order and Enjoy</h2>
#     <p class="text-muted">Explore local stores and shop your favorites</p>
#   </div>

#   <div class="row">
#     <% @stores.each do |store| %>
#       <%= render partial: "shared/store_flip_card", locals: { store: store } %>
#     <% end %>
#   </div>
# </section>