// app/assets/stylesheets/application.scss

@use "../../../node_modules/bootstrap/scss/bootstrap" as *;
@use "../../../node_modules/bootstrap-icons/font/bootstrap-icons";

// If you created a _simple_form.scss to customize styles:
@use "simple_form";
@use "partials/print";

// Your global styles here (optional)
body {
    font-family: "Helvetica", sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.product-card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff; // opcional: borda branca para destacar
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); // opcional: sombreamento sutil
}